/*Стили для мобильной версии приложения*/
@media screen and (max-width: 430px) {

    .container {
        width: 90%;
    }

    h1, h1 + p {
        text-align: center;
    }

    h1 {
        font-size: 45px;
    }

    h1 + p {
        font-size: 20px;
    }

    /*Секция с добавлением задачи*/
    /*Секция ввода задачи*/
    input {
        height: 40px;
    }

    /*Кнопка добавления задачи*/
    .add-todo-section {
        margin-bottom: 10px;
    }

    .add-task {
        height: 40px;
        width: 100%;
        font-size: 16px;
    }

    /*Кнопка удаления выполненых задач*/
    .del-button-plase {
        justify-content: center;
    }

    .delete-completed-tasks {
        font-size: 16px;
        width: 100%;
    }
}